<div class="offcanvas offcanvas-end" tabindex="-1" id="demo_config">
    <div class="position-absolute top-50 end-100 visible">
        <button type="button" class="btn btn-primary btn-icon translate-middle-y rounded-end-0"
            data-bs-toggle="offcanvas" data-bs-target="#demo_config">
            <i class="ph-gear"></i>
        </button>
    </div>

    <div class="offcanvas-header border-bottom py-0">
        <h5 class="offcanvas-title py-3">Demo configuration</h5>
        <button type="button" class="btn btn-light btn-sm btn-icon border-transparent rounded-pill"
            data-bs-dismiss="offcanvas">
            <i class="ph-x"></i>
        </button>
    </div>

    <div class="offcanvas-body">
        <div class="fw-semibold mb-2">Color mode</div>
        <div class="list-group mb-3">
            <label class="list-group-item list-group-item-action form-check border-width-1 rounded mb-2">
                <div class="d-flex flex-fill my-1">
                    <div class="form-check-label d-flex me-2">
                        <i class="ph-sun ph-lg me-3"></i>
                        <div>
                            <span class="fw-bold">Light theme</span>
                            <div class="fs-sm text-muted">Set light theme or reset to default</div>
                        </div>
                    </div>
                    <input type="radio" class="form-check-input cursor-pointer ms-auto" name="main-theme" value="light"
                        checked>
                </div>
            </label>

            <label class="list-group-item list-group-item-action form-check border-width-1 rounded mb-2">
                <div class="d-flex flex-fill my-1">
                    <div class="form-check-label d-flex me-2">
                        <i class="ph-moon ph-lg me-3"></i>
                        <div>
                            <span class="fw-bold">Dark theme</span>
                            <div class="fs-sm text-muted">Switch to dark theme</div>
                        </div>
                    </div>
                    <input type="radio" class="form-check-input cursor-pointer ms-auto" name="main-theme" value="dark">
                </div>
            </label>

            <label class="list-group-item list-group-item-action form-check border-width-1 rounded mb-0">
                <div class="d-flex flex-fill my-1">
                    <div class="form-check-label d-flex me-2">
                        <i class="ph-translate ph-lg me-3"></i>
                        <div>
                            <span class="fw-bold">Auto theme</span>
                            <div class="fs-sm text-muted">Set theme based on system mode</div>
                        </div>
                    </div>
                    <input type="radio" class="form-check-input cursor-pointer ms-auto" name="main-theme" value="auto">
                </div>
            </label>
        </div>

        <div class="fw-semibold mb-2">Direction</div>
        <div class="list-group mb-3">
            <label class="list-group-item list-group-item-action form-check border-width-1 rounded mb-0">
                <div class="d-flex flex-fill my-1">
                    <div class="form-check-label d-flex me-2">
                        <i class="ph-translate ph-lg me-3"></i>
                        <div>
                            <span class="fw-bold">RTL direction</span>
                            <div class="text-muted">Toggle between LTR and RTL</div>
                        </div>
                    </div>
                    <input type="checkbox" name="layout-direction" value="rtl"
                        class="form-check-input cursor-pointer m-0 ms-auto">
                </div>
            </label>
        </div>

        <div class="fw-semibold mb-2">Layouts</div>
        <div class="row">
            <div class="col-12">
                <a href="index.html" class="d-block mb-3">
                    <img src="https://demo.interface.club/limitless/assets/images/layouts/layout_1.png"
                        class="img-fluid img-thumbnail bg-primary bg-opacity-20 border-primary" alt="">
                </a>
            </div>
            <div class="col-12">
                <a href="../../layout_2/full/index.html" class="d-block mb-3">
                    <img src="https://demo.interface.club/limitless/assets/images/layouts/layout_2.png"
                        class="img-fluid img-thumbnail" alt="">
                </a>
            </div>
            <div class="col-12">
                <a href="../../layout_3/full/index.html" class="d-block mb-3">
                    <img src="https://demo.interface.club/limitless/assets/images/layouts/layout_3.png"
                        class="img-fluid img-thumbnail" alt="">
                </a>
            </div>
            <div class="col-12">
                <a href="../../layout_4/full/index.html" class="d-block mb-3">
                    <img src="https://demo.interface.club/limitless/assets/images/layouts/layout_4.png"
                        class="img-fluid img-thumbnail" alt="">
                </a>
            </div>
            <div class="col-12">
                <a href="../../layout_5/full/index.html" class="d-block mb-3">
                    <img src="https://demo.interface.club/limitless/assets/images/layouts/layout_5.png"
                        class="img-fluid img-thumbnail" alt="">
                </a>
            </div>
            <div class="col-12">
                <a href="../../layout_6/full/index.html" class="d-block">
                    <img src="https://demo.interface.club/limitless/assets/images/layouts/layout_6.png"
                        class="img-fluid img-thumbnail" alt="">
                </a>
            </div>
        </div>
    </div>

    <div class="border-top text-center py-2 px-3">
        <a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov"
            class="btn btn-yellow fw-semibold w-100 my-1" target="_blank">
            <i class="ph-shopping-cart me-2"></i>
            Purchase Limitless
        </a>
    </div>
</div>