<div class="sidebar sidebar-dark sidebar-main sidebar-expand-lg">
    <div class="sidebar-content">

        <!-- Sidebar header -->
        <div class="sidebar-section">
            <div class="sidebar-section-body d-flex justify-content-center">
                <h5 class="sidebar-resize-hide flex-grow-1 my-auto">Menu</h5>

                <div>
                    <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                        <i class="ph-arrows-left-right"></i>
                    </button>

                    <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-mobile-main-toggle d-lg-none">
                        <i class="ph-x"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- /sidebar header -->


        <!-- Main navigation -->
        <div class="sidebar-section">
            <ul class="nav nav-sidebar" data-nav-type="accordion">             
                <li class="nav-item-header pt-0">
                    <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Main</div>
                    <i class="ph-dots-three sidebar-resize-show"></i>
                </li>
                <ng-container *ngFor="let r of routes">
                    <li class="nav-item" *ngIf="r.subsMenu.length === 0 && checkRole(r.name)">
                        <a
                          routerLink="{{r.link}}"
                          routerLinkActive="active"
                          [routerLinkActiveOptions]="{exact:true}"
                          class="nav-link">
                            <i class="{{r.icon}}"></i>
                            <span>
                                {{r.name}}
                            </span>
                        </a>
                    </li>

                    <li class="nav-item nav-item-submenu" *ngIf="r.subsMenu.length > 0 && checkRole(r.name)">
                        <a class="nav-link">
                            <i class="ph-cards"></i>
                            <span>{{r.name}}</span>
                        </a>
                        <ul class="nav-group-sub collapse">                            
                            <ng-container *ngFor="let subMenu1 of r.subsMenu">
                                <li class="nav-item" *ngIf="subMenu1.subsMenu.length === 0 && checkRole(subMenu1.name)">
                                    <a href="{{subMenu1.link}}" class="nav-link">
                                        {{subMenu1.name}}
                                    </a>
                                </li>
                                <li class="nav-item nav-item-submenu" *ngIf="subMenu1.subsMenu.length > 0 && checkRole(subMenu1.name)">
                                    <a class="nav-link">{{subMenu1.name}}</a>
                                    <ul class="nav-group-sub collapse">
                                        <ng-container *ngFor="let subMenu2 of subMenu1.subsMenu">
                                            <li class="nav-item">
                                                <a href="{{subMenu2.link}}" class="nav-link">
                                                    {{subMenu2.name}}
                                                </a>
                                            </li>
                                        </ng-container>
                                    </ul>
                                </li>
                            </ng-container>
                        </ul>
                    </li>
                </ng-container>
                
                
            </ul>
        </div>
    </div>
</div>