<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="content d-flex justify-content-center align-items-center">
                <form class="login-form" #form="ngForm" (ngSubmit)="signIn(form)">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <div class="d-inline-flex align-items-center justify-content-center mb-4 mt-2">
                                    <img src="assets/images/logo_icon.svg" class="h-48px" alt="">
                                </div>
                                <h5 class="mb-0">Login to your account</h5>
                                <span class="d-block text-muted">Enter your credentials below</span>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Username or Email</label>
                                <div class="form-control-feedback form-control-feedback-start">
                                    <input
                                      type="text"
                                      class="form-control"
                                      placeholder="john@doe.com"
                                      ngModel
                                      name="emailOrUserName"
                                      required
                                      minlength="3"
                                      #name
                                      [appValidate]="name.validity.valid">
                                    <div class="form-control-feedback-icon">
                                        <i class="ph-user-circle text-muted"></i>
                                    </div>
                                    <div class="invalid-feedback">
                                        Validation error!
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <div class="form-control-feedback form-control-feedback-start">
                                    <input
                                      type="password"
                                      class="form-control"
                                      placeholder="•••••••••••"
                                      ngModel
                                      name="password"
                                      required
                                      minlength="1"
                                      #password
                                      [appValidate]="password.validity.valid">
                                    <div class="form-control-feedback-icon">
                                        <i class="ph-lock text-muted"></i>
                                    </div>
                                    <div class="invalid-feedback">
                                        Validation error!
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex align-items-center mb-3">
                                <label class="form-check">
                                    <input
                                      type="checkbox"
                                      name="remember"
                                      class="form-check-input"
                                      ngModel
                                      name="rememberMe"
                                      checked>
                                    <span class="form-check-label">Remember</span>
                                </label>

                                <a href="login_password_recover.html" class="ms-auto">Forgot password?</a>
                            </div>

                            <div class="mb-3">
                                <button type="submit" [disabled]="!form.valid" class="btn btn-primary w-100">Sign in</button>
                            </div>

                            <div class="text-center text-muted content-divider mb-3">
                                <span class="px-2">or sign in with</span>
                            </div>

                            <div class="text-center mb-3">
                                <button type="button" class="btn btn-outline-primary btn-icon rounded-pill border-width-2"><i class="ph-facebook-logo"></i></button>
                                <button type="button" class="btn btn-outline-pink btn-icon rounded-pill border-width-2 ms-2"><i class="ph-dribbble-logo"></i></button>
                                <button type="button" class="btn btn-outline-secondary btn-icon rounded-pill border-width-2 ms-2"><i class="ph-github-logo"></i></button>
                                <button type="button" class="btn btn-outline-info btn-icon rounded-pill border-width-2 ms-2"><i class="ph-twitter-logo"></i></button>
                            </div>

                            <div class="text-center text-muted content-divider mb-3">
                                <span class="px-2">Don't have an account?</span>
                            </div>

                            <div class="mb-3">
                                <a routerLink="/register" class="btn btn-light w-100">Sign up</a>
                            </div>

                            <span class="form-text text-center text-muted">By continuing, you're confirming that you've read our <a href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a></span>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>

