<table>
    <thead>
      <tr>
        <th>#</th>
        <th>Yapılacak</th>
        <th>Tamamlandı Mı</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos let i = index">
        <td>{{i + 1}}</td>
        <td>{{todo.work}}</td>
        <td *ngIf="todo.isCompleted" style="color:green" [innerHTML]="todo.isCompleted ? 'Tamamlandı' : 'Tamamlanmadı!'">
        </td>
        <td *ngIf="!todo.isCompleted" style="color: red;">
          {{todo.isCompleted ? 'Tamamlandı' : 'Tamamlanmadı!'}}
        </td>
      </tr>
    </tbody>
  </table>