
<div class="card">
    <div class="card-header d-flex align-items-center">
        <ng-content select=".header"></ng-content>
        <div class="d-inline-flex ms-auto">            
            <div class="dropdown d-inline-flex ms-3">
                <a href="#" class="text-body d-inline-flex align-items-center dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="ph-gear"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a href="#" class="dropdown-item">
                        <i class="ph-arrows-clockwise me-2"></i>
                        Update data
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <ng-content></ng-content>
    </div>        
</div>